<h1>Hello Angular from {{name}}</h1>
<ul>
  <li>
    Age : {{age}}
  </li>
  <li>email : {{email}}</li>
  <li>address : {{address.street}} , {{address.city}}</li>
</ul>
<h1>Hobbies</h1>

<form (submit) = "addhobby(hobby.value)">
  <div>
    <label for="hobby"> Hobby:  </label>
    <input type="text" #hobby>
  </div>
</form>

<button (click) = "onClick()">click me</button>
<button (click) = "toggleEdit()">Edit User</button>

<div *ngIf=isEdit>
<h1>Edit User</h1>

  <form>
    <div>
      <label for="name">Name:</label><br>
      <input type="text" [(ngModel)]= "name" name="name">
    </div>
    <div>
      <label for="email">Email:</label><br>
      <input type="text" [(ngModel)] = "email" name="email">
    </div>
    <div>
      <label for="age">Age:</label><br>
      <input type="number" [(ngModel)] = "age" name="age">
    </div>
  </form>
</div>
<ul>
  <li *ngFor="let hobby of hobbies">{{hobby}} <button (click) = "deletehobby(hobby)">X</button></li>

</ul>

<h1>POSTS</h1>

<div *ngFor = "let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
</div>